<html>
<script src="{{ url_for('static', filename='main.js')}}"></script>
<head>
  <style>
  .grid-container {
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: left;
}
  .child {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
}

  .header{
  background-color: lightskyblue;
  border: none;

}
  </style>
  
  <header class="header">
    <p style="text-align:right;">time</p>
  </header>
  <script type="text/javascript">
    function foo() {
        console.log('ok');
    }
    window.onload = codeAddress;
    </script>

</head>
<body onload="setTimeout(onloadfn(), 0)">
<div class="grid-container">

  <div>
    <a href="/">
    <div>
    <p>Home</p>
    </div>
    </a>

    <a href='/temperature/'>
    <div>
    <p>Temperatura</p>
    </div>
    </a>

    <a href="/humidity/">
    <div>
    <p>Humidity</p>
    </div>
    </a>
    
    <a href="/pressure/">
    <div>
    <p>Pressure</p>
    </div>
    </a> 

  </div>
  
  <div class ="parent">
    
    <a href="/soba?room=DNEVNA_SOBA">
    <div class ="child">
    <h2>DNEVNA SOBA</h2>
    <p id="temperatureDS">Temperatura: </p>
    <p id="humidityDS">Vlažnost: </p>
    <p id="pressureDS">Pritisk: </p>
    </div>
    </a>

    <a href="/soba?room=KUHINJA">
    <div class ="child">
      <h2>KUHINJA</h2>
      <p id="temperatureK">Temperatura: </p>
      <p id="humidityK">Vlažnost: </p>
      <p id="pressureK">Pritisk: </p>
    </div>
    </a>
    
    <a href="/soba?room=SPALNICA1">
    <div class ="child">
      <h2>SPALNICA 1</h2>
      <p id="temperatureS1">Temperatura: </p>
      <p id="humidityS1">Vlažnost: </p>
      <p id="pressureS1">Pritisk: </p>
    </div>
    </a>
    
    <a href="/soba?room=SPALNICA2">
    <div class ="child">
      <h2>SPALNICA 2</h2>
      <p id="temperatureS2">Temperatura: </p>
      <p id="humidityS2">Vlažnost: </p>
      <p id="pressureS2">Pritisk: </p>
    </div> 
    </a>

    <a href="/soba?room=SPALNICA3">
    <div class ="child">
      <h2>SPALNICA 3</h2>
      <p id="temperatureS3">Temperatura: </p>
      <p id="humidityS3">Vlažnost: </p>
      <p id="pressureS3">Pritisk: </p>
    </div>
    </a>

    <a href="/soba?room=WC">
    <div class ="child">
      <h2>WC</h2>
      <p id="temperatureWC">Temperatura: </p>
      <p id="humidityWC">Vlažnost: </p>
      <p id="pressureWC">Pritisk: </p>
  </div>
  </a>
</body>
</html>
  