<head>
    <style>
    .grid-container {
      display: grid;
      grid-template-columns: 10% 90%;
    }
    </style>
    </head>
  
  <div>time</div>
  <div class="grid-container">
  
    <div>
      <div>
      <p><a href="/">Home</a></p>
      </div>
      <div>
      <p><a href="/temperature/">Temperature</a></p>
      </div>
      <div>
      <p><a href="/humidity/">Humidity</a></p>
      </div>
      <div>
      <p><a href="/pressure/">Pressure</a></p>
      </div>
      </div>
    
    <div>
      
        <h1>HUMIDITY</h1>
  
      <div style="border: 1px solid black">
      <h2>DNEVNA SOBA</h2>
      <p>GRAF</p>
      </div>
  
      <div style="border: 1px solid black">
        <h2>KUHINJA</h2>
        <p>GRAF</p>
      </div>
      
      <div style="border: 1px solid black">
        <h2>SPALNICA 1</h2>
        <p>GRAF</p>
      </div>
      
      <div style="border: 1px solid black">
        <h2>SPALNICA 2</h2>
        <p>GRAF</p>
      </div> 
  
      <div style="border: 1px solid black">
        <h2>SPALNICA 3</h2>
        <p>GRAF</p>
      </div>
  
      <div style="border: 1px solid black">
        <h2>WC</h2>
        <p>GRAF</p>
      </div>


    </div>
  
    