<!DOCTYPE html>
<html>

<script src="{{ url_for('static', filename='meritve.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<head>
  <meta charset="UTF-8">
    <style>
    .grid-container {
      display: grid;
      grid-template-columns: 10% 90%;
    }

    .graf {
          border: 3px solid black;
          width: 820px;
          height: 255px;
          border-radius: 0.5rem;
          margin: 1rem;
    }
    </style>
    </head>
<body onload="setTimeout(onloadfn(), 0)"> 
  <div>time</div>
  <div class="grid-container">
  
    <div>
      <a href="/">
      <div>
      <p>Home</p>
      </div>
      </a>
  
      <a href='/meritve?vrsta=Temperatura'>
      <div>
      <p>Temperatura</p>
      </div>
      </a>
  
      <a href="/meritve?vrsta=Vlažnost zraka">
      <div>
      <p>Vlažnost zraka</p>
      </div>
      </a>
      
      <a href="/meritve?vrsta=Zračni tlak">
      <div>
      <p>Zračni tlak</p>
      </div>
      </a> 
  
    </div>
    
    <div>
      
        <h1>{{naslov}}</h1>

        <div id="glavnidiv"> </div>

      <!-- <div class="graf" id="mytemp"></div>
  
      <div style="border: 1px solid black">
      <h2>DNEVNA SOBA</h2>
      <p>GRAF</p>
      </div>
  
      <div style="border: 1px solid black">
        <h2>KUHINJA</h2>
        <p>GRAF</p>
      </div>
      
      <div style="border: 1px solid black">
        <h2>SPALNICA 1</h2>
        <p>GRAF</p>
      </div>
      
      <div style="border: 1px solid black">
        <h2>SPALNICA 2</h2>
        <p>GRAF</p>
      </div> 
  
      <div style="border: 1px solid black">
        <h2>SPALNICA 3</h2>
        <p>GRAF</p>
      </div>
  
      <div style="border: 1px solid black">
        <h2>WC</h2>
        <p>GRAF</p>
      </div> -->

  </body> 

  </html>
    