<!DOCTYPE html>
<html>

<script src="{{ url_for('static', filename='meritve.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<head>
  <script type="text/javascript">
    function foo() {
        console.log('ok');
    }
    window.onload = codeAddress;
    </script>

  <title>Merilni sistem</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
<body onload="setTimeout(onloadfn(), 0)">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='smarthome2.png')}}" alt=""></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="time"> time</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav" id="sidenavigation">
        <p><a href="/"><img class="icon" src="{{ url_for('static', filename='home.png')}}" alt=""> Domov</a></p>
        <p></i><a href='/meritve?vrsta=Temperatura'><img class="icon" src="{{ url_for('static', filename='thermometer.png')}}" alt=""> Temperatura</a></p>
        <p><a href="/meritve?vrsta=Vlažnost zraka"><img class="icon" src="{{ url_for('static', filename='humidity.png')}}" alt=""> Vlažnost zraka</a></p>
        <p><a href="/meritve?vrsta=Zračni tlak"><img class="icon" src="{{ url_for('static', filename='air.png')}}" alt=""> Zračni tlak</a></p>
  
      </div>
      <div class="col-sm-5 text-left">
        <h1>{{naslov}}</h1> 
        <div id="glavnidiv"></div>
      </div>
    </div>
  </div>
  </html>
  