<!DOCTYPE html>
<html>

<script src="{{ url_for('static', filename='soba.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <head>
    <script type="text/javascript">
      function foo() {
          console.log('ok');
      }
      window.onload = codeAddress;
      </script>
  
    <title>Merilni sistem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
  
  <body onload="setTimeout(onloadfn(), 0)">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='smarthome2.png')}}" alt=""></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="time"> time</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid text-center">    
      <div class="row content">
        <div class="col-sm-2 sidenav" id="sidenavigation">
          <p><a href="/"><img class="icon" src="{{ url_for('static', filename='return.png')}}" alt=""> Nazaj</a></p>
        </div>
        <div class="col-sm-5 text-left"> 
          <div>
        
            <h1>{{soba}}</h1>
              <div class="graf" id="mytemp"></div>
              <div class="graf" id="myhum"></div>
              <div class="graf" id="mypress"></div>
          </div>
        </div>
      </div>
    </div>

    </body>
  </html>