<head>
    <style>
    .grid-container {
      display: grid;
      grid-template-columns: 10% 90%;
    }
    </style>
    </head>
  
  <div>time</div>
  <div class="grid-container">
  
    <div>
      <a href="/">
      <div>
      <p>Return</p>
      </div>
      </a>
  
    </div>
    
    <div>
      
      <h1>{{soba}}</h1>
  
      <div style="border: 1px solid black">
      <h2>TEMPERATURA</h2>
      <p>GRAF</p>
      </div>
  
      <div style="border: 1px solid black">
        <h2>VLAGA</h2>
        <p>GRAF</p>
      </div>
      
      <div style="border: 1px solid black">
        <h2>PRITISK</h2>
        <p>GRAF</p>
      </div>
  
  
    </div>